:root{
  --main: #3F51B5;
  --secondary : #121212;
  --white: #fff;
  --white15 : #ffffff15;
  --white25: #ffffff25;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /*font-family: 'Noto Sans JP', sans-serif;*/
}

/*body {*/
/*  margin: 0;*/
/*  background-color: #3f3f3f;*/
/*}*/

.bg-main{background-color: var(--main) !important;}
.bg-white{background-color: var(--white) !important;}
.bg-white15{background-color: var(--white15) !important;}

.c-main{color: var(--main) !important;}
.c-white{color: var(--white) !important;}
.c-inherit{color: inherit !important;}

.w-auto{width: auto;}
.w-100{
  width: 100% !important;
}
.w-100vw{
  width: 100vw !important;
}

.h-100{
  height: 100% !important;
}
.h-100vh{
  height: 100vh !important;
}

.flex{
  display: flex;
}

.flexDirectionColumn{
  flex-direction: column;
}
.flexDirectionRow{
  flex-direction: row;
}

.align-items-center{align-items: center;}
.justifyContent-center{justifyContent: center;}

.gap-1{
  gap: 1rem;
}
.gap-2{
  gap: 2rem;
}
.gap-3{
  gap: 3rem;
}
.gap-4{
  gap: 4rem;
}

.pointer-events-node{pointer-events: none;}

.p-relative{position: relative};
.p-absolute{position: absolute};

// margin ----->>----->>----->>----->>----->>----->>----->>----->>----->>----->>


.m-0{margin: 0rem};
.m-1{margin: 1rem};
.m-2{margin: 2rem};
.m-3{margin: 3rem};
.m-4{margin: 4rem};
.m-5{margin: 5rem};
.m-6{margin: 6rem};

.mt-1{margin-top: 1rem};
.mt-2{margin-top: 2rem};
.mt-3{margin-top: 3rem};
.mt-4{margin-top: 4rem};
.mt-5{margin-top: 5rem};
.mt-6{margin-top: 6rem};

.mr-0{margin-right: 0rem};
.mr-1{margin-right: 1rem};
.mr-2{margin-right: 2rem};
.mr-3{margin-right: 3rem};
.mr-4{margin-right: 4rem};
.mr-5{margin-right: 5rem};
.mr-6{margin-right: 6rem};

.mb-1{margin-bottom: 1rem};
.mb-2{margin-bottom: 2rem};
.mb-3{margin-bottom: 3rem};
.mb-4{margin-bottom: 4rem};
.mb-5{margin-bottom: 5rem};
.mb-6{margin-bottom: 6rem};

.ml-1{margin-left: 1rem};
.ml-2{margin-left: 2rem};
.ml-3{margin-left: 3rem};
.ml-4{margin-left: 4rem};
.ml-5{margin-left: 5rem};
.ml-6{margin-left: 6rem};

// rem

.m-1rem{margin: 1rem};
.m-2rem{margin: 2rem};
.m-3rem{margin: 3rem};
.m-4rem{margin: 4rem};
.m-5rem{margin: 5rem};
.m-6rem{margin: 6rem};

.mt-1rem{margin-top: 1rem};
.mt-2rem{margin-top: 2rem};
.mt-3rem{margin-top: 3rem};
.mt-4rem{margin-top: 4rem};
.mt-5rem{margin-top: 5rem};
.mt-6rem{margin-top: 6rem};

.mr-1rem{margin-right: 1rem};
.mr-2rem{margin-right: 2rem};
.mr-3rem{margin-right: 3rem};
.mr-4rem{margin-right: 4rem};
.mr-5rem{margin-right: 5rem};
.mr-6rem{margin-right: 6rem};

.mb-1rem{margin-bottom: 1rem};
.mb-2rem{margin-bottom: 2rem};
.mb-3rem{margin-bottom: 3rem};
.mb-4rem{margin-bottom: 4rem};
.mb-5rem{margin-bottom: 5rem};
.mb-6rem{margin-bottom: 6rem};

.ml-1rem{margin-left: 1rem};
.ml-2rem{margin-left: 2rem};
.ml-3rem{margin-left: 3rem};
.ml-4rem{margin-left: 4rem};
.ml-5rem{margin-left: 5rem};
.ml-6rem{margin-left: 6rem};

.my-auto{
  margin-left: auto;
  margin-right: auto;
}

// padding ----->>----->>----->>----->>----->>----->>----->>----->>----->>----->>

.py-1{margin-left: 1rem;margin-right: 1rem;}

.p-1{padding: 1rem};
.p-2{padding: 2rem};
.p-3{padding: 3rem};
.p-4{padding: 4rem};
.p-5{padding: 5rem};
.p-6{padding: 6rem};

.pt-1{padding-top: 1rem};
.pt-2{padding-top: 2rem};
.pt-3{padding-top: 3rem};
.pt-4{padding-top: 4rem};
.pt-5{padding-top: 5rem};
.pt-6{padding-top: 6rem};

.pr-1{padding-right: 1rem};
.pr-2{padding-right: 2rem};
.pr-3{padding-right: 3rem};
.pr-4{padding-right: 4rem};
.pr-5{padding-right: 5rem};
.pr-6{padding-right: 6rem};

.pb-1{padding-bottom: 1rem};
.pb-2{padding-bottom: 2rem};
.pb-3{padding-bottom: 3rem};
.pb-4{padding-bottom: 4rem};
.pb-5{padding-bottom: 5rem};
.pb-6{padding-bottom: 6rem};

.pl-1{padding-left: 1rem};
.pl-2{padding-left: 2rem};
.pl-3{padding-left: 3rem};
.pl-4{padding-left: 4rem};
.pl-5{padding-left: 5rem};
.pl-6{padding-left: 6rem};

.p-1rem{padding: 1rem};
.p-2rem{padding: 2rem};
.p-3rem{padding: 3rem};
.p-4rem{padding: 4rem};
.p-5rem{padding: 5rem};
.p-6rem{padding: 6rem};

.pt-1rem{padding-top: 1rem};
.pt-2rem{padding-top: 2rem};
.pt-3rem{padding-top: 3rem};
.pt-4rem{padding-top: 4rem};
.pt-5rem{padding-top: 5rem};
.pt-6rem{padding-top: 6rem};

.pr-1rem{padding-right: 1rem};
.pr-2rem{padding-right: 2rem};
.pr-3rem{padding-right: 3rem};
.pr-4rem{padding-right: 4rem};
.pr-5rem{padding-right: 5rem};
.pr-6rem{padding-right: 6rem};

.pb-1rem{padding-bottom: 1rem};
.pb-2rem{padding-bottom: 2rem};
.pb-3rem{padding-bottom: 3rem};
.pb-4rem{padding-bottom: 4rem};
.pb-5rem{padding-bottom: 5rem};
.pb-6rem{padding-bottom: 6rem};

.pl-1rem{padding-left: 1rem};
.pl-2rem{padding-left: 2rem};
.pl-3rem{padding-left: 3rem};
.pl-4rem{padding-left: 4rem};
.pl-5rem{padding-left: 5rem};
.pl-6rem{padding-left: 6rem};

@media only screen and (max-width: 540px) {
  //.p-1{padding: 0.75rem}
}