:root {
    --main: #192673;
    --mainBlur: #192673cf;
    --mainXBlur: #19267320;
    --mainLBlur: #19267305;
    --mainELBlur: #19267380;
    --mainHover: #0c1964;
    --default: #5a5666;
    --white70: #FFFFFF70;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 0 grey;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: var(--main);
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--mainHover);
}